/* -------------- COLORS -------------- */
:root {
  --color-white: #fff;
  --color-bg: #ff0000;
  --color-yellow: #fff500;
  --color-black: #000000;
  --color-blue: #2447ff;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* -------------- FONTS -------------- */

@font-face {
  font-family: 'Crayonette';
  src: url('./8ecce8330f770f64507e19c2daa29a97.woff') format('woff2'),
    url('./8ecce8330f770f64507e19c2daa29a97.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Roslindale Variable';
  font-weight: 400;
  font-size: 64px;
  line-height: 66px;
  text-shadow: 0px 4px 2px rgba(18, 17, 17, 0.8);
  margin: 0;
}

@media (min-width: 768px) {
  h1 {
    padding: 0 46px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 98px;
    line-height: 112px;
  }
}

/* -------------- LAYOUT -------------- */

.info__content,
.hero__wrapper {
  padding: 56px 30px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}

.info__content {
  padding: 100px 30px 30px 30px;
}

.hero__wrapper {
  padding: 56px 30px;
}

.hero__wrapper,
.pigeon__wrapper {
  width: 1440px;
  max-width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 78px;
  justify-content: center;
  align-items: center;
}

.hero__content--text {
  width: 316px;
  height: 204px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
}

.hero__button {
  border: 2px solid var(--color-black);
  border-radius: 80px;
  width: 216px;
  height: 63.22px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  /* position: absolute;
  top: 404px; */
}

.hero__button:hover > .heart,
.hero__button:hover {
  background-color: var(--color-red);
}

.hero__button:hover {
  border-color: var(--color-white);
}

.hero__button:hover > p {
  color: var(--color-white);
}

.heart {
  background-color: var(--color-white);
  width: 42px;
  height: 42px;
}

.hero__button p {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 43px;
  color: var(--color-black);
}

.hero__content--gifs {
  padding-bottom: 76px;
}

.emoji__laugh {
  width: 300px;
  background-color: var(--color-bg);
}

.hero__content--gifs {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.two_gifs--container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.emoji__laugh.cat {
  position: absolute;
  height: 426px;
  left: -87px;
  top: -126px;
  z-index: -1;
  display: flex;
  flex: 2;
}

/* .emoji__laugh.lisa {
  position: absolute;
  top: -241px;
  left: 205px;
} */

.emoji__laugh.bird {
  display: flex;
  flex: 1;
  width: 95px;
}

@media (min-width: 768px) {
  .hero__wrapper {
    padding: 87px 52px;
  }

  .hero__content--gifs {
    margin: 0 auto;
  }

  .hero__content--text {
    width: 661px;
  }

  .hero__content--gifs {
    padding-bottom: 116px;
  }

  .emoji__laugh.bird {
    left: 130px;
  }
}

@media (min-width: 1200px) {
  .hero__wrapper {
    position: relative;
  }

  .hero__content {
    flex-direction: row;
    height: 586px;
  }

  .hero__content--text {
    width: 770px;
  }

  .emoji__laugh.bird {
    left: 605px;
    top: 277px;
    width: 11%;
  }

  .button__wrapper {
    justify-content: flex-start;
    position: absolute;
    top: 468px;
    left: 97px;
  }
}

.info__content {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.baloon {
  display: none;
  position: absolute;
  top: -5px;
  height: 165px;
  z-index: 4;
  left: 43px;
}

.pigeon__wrapper {
  padding: 48px 30px;
  width: 1440px;
  max-width: 100%;
}

.pigeon__wrapper img {
  width: 236px;
}

.where__text .cascade,
.where__text {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 12px;
}

.where__text .cascade,
.where__text .border > span,
.where__text > p {
  margin: 0;
  padding: 0;
  font-family: 'Roslindale Variable';
  font-weight: 400;
  color: var(--color-white);
  text-shadow: 0px -1px 4px var(--color-bg);
}

.where__text .border > span,
.where__text > p:first-of-type {
  font-size: 64px;
  line-height: 70px;
}

.where__text > p:last-of-type {
  font-size: 56px;
}

.where__text .cascade span {
  font-size: 40px;
  padding-right: 4px;
}

.where__text .cascade .time {
  font-size: 38px;
  text-decoration: underline;
}

.where__text .cascade .palma {
  font-size: 56px;
}

.where__text .border {
  border: 2px solid var(--color-black);
  padding: 0 16px;
  border-radius: 40px;
  width: 58%;
  padding-right: 26px;
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 9px;
}

.where__text .border span,
.where__text .border p {
  font-size: 41px;
  line-height: 56px;
}

.where .cascade {
  display: inline-flex;
  flex-wrap: wrap;
}
